/* desktop styles */
#listing-cta{
    /* height: 40vh; */
    background: rgba(0, 0, 0,.7) url("../../../assets/house-1.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-blend-mode: darken !important;
}

#insights{
    background: rgba(0, 0, 0,.7) url("../../../assets/insightsbg.jpg") !important;
    background-size: cover !important;
    /* background-position: center !important; */
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-blend-mode: darken !important;
}

.agent-contact{
    font-size: 13px !important;
    text-align: left !important;
}